.container{
    display: grid;
    grid-template-areas:"cabecalho cabecalho"   /* é como uma caixa, daí eu divido como vai ficar as coisas dentro dela*/
     "lateral conteudo"
     "rodape rodape"
    ;
    grid-template-columns: 30%60%;  /* colunas */
    grid-template-rows: 30px 80px 30px; /* linhas. Estou decidindo como vai ficar dividido os 'trem' */ 
    text-align: center;
    gap: 20px 50px;
    justify-items: center;
    align-items: center;
}

.cabecalho{
    grid-area: cabecalho;
    border: 1px solid;
}
.lateral{
    grid-area: lateral;
    border: 1px solid;
}
.conteudo{
    grid-area: conteudo;
    border: 1px solid;
}
.rodape{
    grid-area:rodape;
    border: 1px solid;
}